{% load static %}
<footer class="container-fluid bg-primary">
    <div class="container text-light" style="font-size: 18px;">
        <div class="row">
            <div class="col mt-3 mb-3">
                <div class="">
                    <span class="">Powered By Django</span>
                </div>
            </div>
            <div class="col mt-3 mb-3">
                <div class="text-right">
                    <span class="">Made By Abacaxi Guy~</span>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script defer src="{% static 'assets/font-awesome/js/all.js' %}"></script>
<script src="{% static 'assets/custom/js/scripts.js' %}"></script>
