{% extends 'base.html' %}
{% load static %}
{% block title %}E-commerce Mr Robot{% endblock %}
{% block conteudo %}
<div class="alert alert-secondary alert-dismissible fade show fixed-bottom"
    style="bottom: 0 !important;border: none !important;border-radius: 0px !important;margin-bottom: 0px !important;padding: 0px !important;background-color: rgb(34, 34, 34);color: rgb(190, 188, 188);"
    role="banner">

    <p class="mt-3" style="text-align:center !important;">
        Este site é apenas uma <strong>SIMULAÇÃO</strong>, construído apenas para fins
        educacionais.
        Todos os produtos a seguir são fictícios ou da propriedade de outros sites não parceiros.
    </p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div style="min-height:800px;" class="row">
    <div class="col-lg-12">
        <div class="card-columns">

            {% for product in products %}
            <div class="card">

                {% if product.imagem %}
                <a href="{% url 'product:details' product.slug %}">
                    <img class="card-img-top" src="{{ product.imagem.url }}" alt="{{product.nome}}">
                </a>
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ product.nome }}</h5>
                    <p class="card-text">{{ product.descricao_curta}}</p>
                    <div class="container product-price-block text-center">
                        {% if product.preco_marketing_promocional > 0 %}
                        <span class="product-price">
                            {{product.get_preco_promo_format}}
                        </span>
                        <span class="product-old-price">
                            {{ product.get_preco_format }}
                        </span>
                        {% else %}
                        <span class="product-price">
                            {{product.get_preco_format}}
                        </span>
                        {% endif %}


                    </div>
                </div>
                <div class="card-footer bg-transparent border-top-light-custom text-center">
                    <a href="{% url 'product:details' product.slug %}" class="btn btn-primary btn-sm m-1 btn-block">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Comprar
                    </a>
                </div>
            </div>
            {% endfor %}




        </div>

    </div>
    </divstyle="min-height:800px;">



    <div class="row mt-3">
        <div class="col">
            {% include 'parciais/_pagination.html' %}
        </div>
    </div>


    {% endblock %}
